<h3>User Form</h3>

<div>
  <label class="form-control">User Name:</label><br>
  <input type="text" class="form-control" [(ngModel)]="userName"> <br><br>
  <button type="button" class="form-control" (click)="addUserName()" > Add User</button><br><br>
  <!-- (click)="addUserName()" -->
</div>
